{% extends 'todo_futbol_app/index.html' %}


{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">¿quien soy?</h1>
<p class="lead text-white-50 mb-4">Mi nombre es Lucas Pereira, tengo 19 años y soy de uruguay, estoy terminando 6to ingenieria y juego al futbol. Esta es mi primer conexion con la programacion, el proximo año empezaria una carrera de Ciber Seguridad, por eso tuve el interes de adentrarme a este curso y ver si me gustaba el mundo de la programacion o no, gracias a ustedes profesores ahora tengo ganas de continuar aqui y seguir aprendiendo.</p>
{% endblock titulo %}
    

{% block reservas %}
{% endblock reservas %}
    

{% block contenido %}
{% endblock contenido %}
       